@charset "utf-8";

/* ------ ---------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEADER ---------------------------*/
.logo {
  width: 250px;
  margin: 10px;
}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 7px;
}
.main-nav li {
  margin-left: 36px;
  list-style: none;
  float: left;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #788897;
}
/* 메인 리스트 가운데 정렬 & 서브 리스트 오른쪽 정렬 하는 방법?----*/
.sub-list li {
  font-size: 13px;
  align: auto;
  text-align-last: justify;
 }
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5% 5% 5%;
  text-align: justify;
}

/* MAIN ---------------------------*/
.main-content {
  text-align: center;
  margin-top: 10%
}
.main-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

#main {
  background-image: url(../images/main.jpg);
  min-height: 100vh;
}

#main .page-title {
  text-transform: none;
}

/* 제목 */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* 버튼 */

.button {
  font-size:  1.5rem;
  background: #697166;
  color: #432;
  border-radius: 30px;
  padding: 1px 15px;
}

.button:hover {
  color: #788897;
}

/* 큰 배경 이미지 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/*Footer ----------------------------*/
footer {
  background: #e5b7be;
  text-align: center;
  padding: 10px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

.wrapper-ft {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: justify;
}


/* 여행지 순위 ----------------------------------*/
h2 {
  text-align: center;
  color: #0c4da2;
  text-shadow: #b07f72 1px 0 10px;
}

h3 {
  text-align: center;
  padding: 10px 0;
}

#rank {
  background-image: url(../images/rank.jpg);
}

.grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 30px;
}
.item-rank img {
  height: auto;
  width: auto;
}
.item-rank img:hover {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.item p {
  size: 5px;
}



/* Q&A ----------------------------------*/
#qa {
  background-image: url(../images/qa-bg.jpg);
  min-height: 100vh;
}


/* 입력 양식 */
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: : 10px;
  display: block;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="message"],
textarea {
  background: rgba(255, 255, 255, .5);
  border: 1px skyblue solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="message"],
 {
  width: 100%;
  max-width: 240px;
  border: solid skyblue;
  color:black;
}
textarea {
  width: 100%;
  max-width: 700px;
  height: 10rem;
  border: solid skyblue;
  color:black;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

.button-submit {
  font-size:  1.5rem;
  background: #b4c1d1;
  color: black;
  border-radius: 35px;
  padding: 10px 15px;
}

.button-submit:hover {
  color: #788897;
}


/* News ----------------------------------*/

.grid1 {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 30px;
}

.item img {
  height: 200px;
  width: 300px;
}
.item img:hover {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}



/* log-in ----------------------------------*/
.button-login {
  color: black;
  background: #b4c1d1;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}


/* company ----------------------------------*/
article {
  border-left: #b3bfca 2px solid;
  padding: 2em;
}
.com-side {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}
.company-art {
  width: 85%;
}
.company-art p {
  color: #0c4da2;
  padding: 1em;
}
.sidebar {
  font-size: 1.375em;
  padding: 8px 8px 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
  text-decoration: none;
  
}
.list {
  list-style: none;
  margin-top: 1em;
}
.list a {
  color: black;
}
.list a:hover {
  color: #56c1cf;
}
.head {
  color:#493eac;
  text-shadow: #A1AC3E 3px 0 5px;
  font-size: 3em;
}

/*table*/
table {
  border: 1px solid skyblue;
  width: 70%;
  height: 10%;
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid skyblue;
}

/* team contact*/
.team {
  border-right: skyblue 2px;
}
.phone {
  width: 100%;
  margin: auto;
  padding-left: 43%;
  font-size: 1.5em;
}
/* location*/
#location {
  padding: 4% 0;
}
.location-info {
  width: 50%;
}

/*iframe*/
iframe {
  width: 100%;
}